<a href="https://colab.research.google.com/github/jdxxmahmud/mahdy-sir-re-acad-course/blob/main/Phase%201/Individual%20Assignments/Recorded%20Classes%20Notes/Machine%20Learning/Advanced%20ML/L19_L20_Decision_Tree_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Connecting with drive and reading dataset

In [11]:
# from google.colab import drive
# drive.mount('/content/drive', force_remount=True)

In [25]:
%cd /content/drive

/content/drive

In [26]:
working_directory = 'MyDrive/Colab Notebooks/Mahdy Sir Research Academy Course/Phase 1/Individual Assignments/Recorded Class Notes/Advanced ML/Datasets/'

In [27]:
dataset_name = "salary_data.csv"

In [15]:
import pandas as pd
df = pd.read_csv(f'{working_directory}/{dataset_name}')

#### Overview of dataset

In [16]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

### Handling the null values

Finding the null values

In [18]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

#### Fill the Na values

In [19]:
numerical_columns_with_null = ['Age', 'Years of Experience', 'Salary']

for col in numerical_columns_with_null:
  df[col] = df[col].fillna(df[col].mean())

In [20]:
categorical_columns_with_null = ['Gender', 'Job Title', 'Education Level']

for col in categorical_columns_with_null:
  most_freq_category = df[col].mode().iloc[0]
  df[col].fillna(most_freq_category, inplace=True)

In [21]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

### Data Preprocessing

#### Data Encoding

In [22]:
from sklearn.preprocessing import LabelEncoder

lbl_enc = LabelEncoder()

#### Finding the categorical columns

In [23]:
categorical_columns = [col for col in df.columns if df[col].dtypes == 'object']
categorical_columns

['Gender', 'Education Level', 'Job Title']

In [24]:
for col in categorical_columns:
  df[col] = lbl_enc.fit_transform(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  375 non-null    float64
 1   Gender               375 non-null    int64
 2   Education Level      375 non-null    int64
 3   Job Title            375 non-null    int64
 4   Years of Experience  375 non-null    float64
 5   Salary               375 non-null    float64
dtypes: float64(3), int64(3)
memory usage: 17.7 KB

It doesn't matter if we don't scale the data for regression. So here no regression is done.

### Training the model

#### Separating target and features

In [28]:
X = df.drop(columns = ['Salary'])
y = df['Salary']

In [31]:
X.head()

    Age  Gender  Education Level  Job Title  Years of Experience
0  32.0       1                0        159                  5.0
1  28.0       0                1         17                  3.0
2  45.0       1                2        130                 15.0
3  36.0       0                0        101                  7.0
4  52.0       1                1         22                 20.0

#### Train Test Split

In [29]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(f"Train Data Size: (Features): {len(x_train)}")
print(f"Train Data Size (Target): {len(y_train)}")
print(f"Test Data Size: (Features): {len(x_test)}")
print(f"Test Data Size: (Target): {len(y_test)}")

Train Data Size: (Features): 416
Train Data Size (Target): 416
Test Data Size: (Features): 104
Test Data Size: (Target): 104

In [ ]:
x_train

array([[-0.52050954, -1.3017178 ,  1.00772212, ..., -0.77459667,
         1.38022749, -0.45133547],
       [ 0.36667416, -1.3017178 , -0.99233705, ...,  1.29099445,
         1.38022749,  2.21564684],
       [-0.70533947,  0.75570851, -0.99233705, ..., -0.77459667,
        -0.72451824, -0.45133547],
       ...,
       [ 0.84723199,  0.75570851,  1.00772212, ...,  1.29099445,
         1.38022749, -0.45133547],
       [-0.37264559, -1.3017178 ,  1.00772212, ...,  1.29099445,
        -0.72451824, -0.45133547],
       [-0.3356796 ,  0.75570851, -0.99233705, ..., -0.77459667,
        -0.72451824,  2.21564684]])

#### K fold cross validation

#### Defining Decision Tree model

In [37]:
from sklearn.tree import DecisionTreeRegressor

DTregressor = DecisionTreeRegressor(criterion = 'squared_error',
                                    max_depth = 10,
                                    min_samples_split = 2,
                                    min_samples_leaf = 1,
                                    max_features = None,
                                    max_leaf_nodes = None,
                                    min_impurity_decrease = 0.0)

In [38]:
from sklearn.model_selection import cross_val_score, KFold

k_fold = KFold(10)

#### Defining the metrics

In [39]:
results1 = cross_val_score(DTregressor, X, y, cv = k_fold, scoring = "neg_mean_squared_error")
results2 = cross_val_score(DTregressor, X, y, cv = k_fold, scoring = "neg_mean_absolute_percentage_error")
results3 = cross_val_score(DTregressor, X, y, cv = k_fold, scoring = "r2")

Negative MSE

In [40]:
results1

array([-8.39796540e+08, -8.87157346e+08, -4.59300062e+08, -2.73120681e+08,
       -1.54167433e+08, -1.58622747e+08, -1.35025917e+08, -6.26669747e+07,
       -8.93130565e+07, -3.38587121e+08])

Negative MAE

In [43]:
results2

array([-0.2008244 , -0.17363181, -0.19230618, -0.11210863, -0.11804918,
       -0.10125131, -2.77270699, -0.05422001, -0.04685269, -0.05791876])

In [42]:
results3

array([0.70703187, 0.6551051 , 0.8005677 , 0.87071895, 0.9238223 ,
       0.93422337, 0.93828173, 0.97018503, 0.95325942, 0.8922097 ])

Finding overall mean absolute percentage error

In [44]:
overall_MAE_percentage = sum(results2)/ len(results2)
print(abs(overall_MAE_percentage) * 100)

38.298699668574194

#### Test performance (Unseen Data)

In [ ]:
svc_model = SVC(C = 0.5, kernel = 'poly', degree = 2, gamma = 'scale', coef0 = 0.0, tol = 0.0001, decision_function_shape= 'ovr')

In [ ]:
svc_model.fit(x_train, y_train)

SVC(C=0.5, degree=2, kernel='poly', tol=0.0001)

#### Making prediction

In [ ]:
y_pred = svc_model.predict(x_test)

#### Evaluation Metrics

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score

print("Accuracy: ", accuracy_score(y_pred, y_test))
print("Precision: ", precision_score(y_pred, y_test))
print("Recall: ", recall_score(y_pred, y_test))
print("f1: ", f1_score(y_pred, y_test))
print("ROC_AUC_Score: ", roc_auc_score(y_pred, y_test))

Accuracy:  0.8557692307692307
Precision:  0.9393939393939394
Recall:  0.8493150684931506
f1:  0.8920863309352518
ROC_AUC_Score:  0.8601414052143173