<a href="https://colab.research.google.com/github/jdxxmahmud/mahdy-sir-re-acad-course/blob/main/Phase%201/Individual%20Assignments/Recorded%20Classes%20Notes/Machine%20Learning/Advanced%20ML/L19_Decision_Tree_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Connecting with drive and reading dataset

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive', force_remount=True)

In [ ]:
%cd /content/drive

/content/drive

In [ ]:
working_directory = 'MyDrive/Colab Notebooks/Mahdy Sir Research Academy Course/Phase 1/Individual Assignments/Recorded Class Notes/Advanced ML/Datasets/'

In [ ]:
dataset_name = "salary_data.csv"

In [ ]:
import pandas as pd
df = pd.read_csv(f'{working_directory}/{dataset_name}')

#### Overview of dataset

In [ ]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  373 non-null    float64
 1   Gender               373 non-null    object
 2   Education Level      373 non-null    object
 3   Job Title            373 non-null    object
 4   Years of Experience  373 non-null    float64
 5   Salary               373 non-null    float64
dtypes: float64(3), object(3)
memory usage: 17.7+ KB

### Handling the null values

Finding the null values

In [ ]:
df.isnull().sum()

Age                    2
Gender                 2
Education Level        2
Job Title              2
Years of Experience    2
Salary                 2
dtype: int64

#### Fill the Na values

In [ ]:
numerical_columns_with_null = ['Age', 'Years of Experience', 'Salary']

for col in numerical_columns_with_null:
  df[col] = df[col].fillna(df[col].mean())

In [ ]:
categorical_columns_with_null = ['Gender', 'Job Title', 'Education Level']

for col in categorical_columns_with_null:
  most_freq_category = df[col].mode().iloc[0]
  df[col].fillna(most_freq_category, inplace=True)

In [ ]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

### Data Preprocessing

#### Data Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder

lbl_enc = LabelEncoder()

#### Finding the categorical columns

In [ ]:
categorical_columns = [col for col in df.columns if df[col].dtypes == 'object']
categorical_columns

['Gender', 'Education Level', 'Job Title']

In [ ]:
for col in categorical_columns:
  df[col] = lbl_enc.fit_transform(df[col])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  375 non-null    float64
 1   Gender               375 non-null    int64
 2   Education Level      375 non-null    int64
 3   Job Title            375 non-null    int64
 4   Years of Experience  375 non-null    float64
 5   Salary               375 non-null    float64
dtypes: float64(3), int64(3)
memory usage: 17.7 KB

It doesn't matter if we don't scale the data for regression. So here no regression is done.

### Training the model

#### Separating target and features

In [ ]:
X = df.drop(columns = ['Salary'])
y = df['Salary']

In [ ]:
X.head()

    Age  Gender  Education Level  Job Title  Years of Experience
0  32.0       1                0        159                  5.0
1  28.0       0                1         17                  3.0
2  45.0       1                2        130                 15.0
3  36.0       0                0        101                  7.0
4  52.0       1                1         22                 20.0

#### Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(f"Train Data Size: (Features): {len(x_train)}")
print(f"Train Data Size (Target): {len(y_train)}")
print(f"Test Data Size: (Features): {len(x_test)}")
print(f"Test Data Size: (Target): {len(y_test)}")

Train Data Size: (Features): 300
Train Data Size (Target): 300
Test Data Size: (Features): 75
Test Data Size: (Target): 75

In [ ]:
x_train

      Age  Gender  Education Level  Job Title  Years of Experience
323  47.0       1                2         24                 20.0
186  33.0       0                1        118                  6.0
55   36.0       1                0        104                  9.0
255  44.0       1                0        153                 14.0
201  30.0       1                0         48                  3.0
..    ...     ...              ...        ...                  ...
7    31.0       1                0        104                  4.0
108  41.0       0                1        131                 14.0
169  34.0       1                1        153                  9.0
173  43.0       1                0        144                 16.0
196  41.0       0                0        132                 11.0

[300 rows x 5 columns]

#### K fold cross validation

#### Defining Decision Tree model

In [ ]:
from sklearn.tree import DecisionTreeRegressor

DTregressor = DecisionTreeRegressor(criterion = 'squared_error',
                                    max_depth = 10,
                                    min_samples_split = 2,
                                    min_samples_leaf = 1,
                                    max_features = None,
                                    max_leaf_nodes = None,
                                    min_impurity_decrease = 0.0)

In [ ]:
from sklearn.model_selection import cross_val_score, KFold

k_fold = KFold(10)

#### Defining the metrics

In [ ]:
results1 = cross_val_score(DTregressor, X, y, cv = k_fold, scoring = "neg_mean_squared_error")
results2 = cross_val_score(DTregressor, X, y, cv = k_fold, scoring = "neg_mean_absolute_percentage_error")
results3 = cross_val_score(DTregressor, X, y, cv = k_fold, scoring = "r2")

Negative MSE

In [ ]:
results1

array([-7.05437911e+08, -8.91104715e+08, -4.79694799e+08, -3.13252260e+08,
       -1.49598719e+08, -1.72643017e+08, -1.23119010e+08, -7.34777855e+07,
       -8.52167727e+07, -2.42641175e+08])

Negative MAE

In [ ]:
results2

array([-0.21494912, -0.18377265, -0.17514264, -0.13761249, -0.11631407,
       -0.10411571, -2.77656799, -0.05948502, -0.05312202, -0.06177977])

In [ ]:
results3

array([0.70878918, 0.64614667, 0.84053544, 0.88086571, 0.92803116,
       0.92120596, 0.9397587 , 0.96504159, 0.9567533 , 0.85366195])

Finding overall mean absolute percentage error

In [ ]:
overall_MAE_percentage = sum(results2)/ len(results2)
print(abs(overall_MAE_percentage) * 100)

38.298699668574194

Finding overall R2 error

In [ ]:
overall_R2 = sum(results3) / len(results3)
print(overall_R2)

0.864078965746747

Find what metrics support

In [ ]:
import sklearn
sklearn.metrics.get_scorer_names()

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'matthews_corrcoef',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_negative_likelihood_ratio',
 'neg_root_mean_squared_error',
 'normalized_mutual_info_score',
 'positive_likelihood_ratio',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']